# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 8 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip pipenv
        make init
    - name: Format
      run: |
        make format EXTRA_FLAGS=--check
    - name: Typecheck
      run: |
        make typecheck git-assert-clean

  release:
    runs-on: ubuntu-latest
#    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pipenv setuptools wheel

          make init
      - name: Release
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_PASSWORD }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          pipenv run python setup.py sdist bdist_wheel --universal
          pipenv run twine upload -r testpypi  --verbose dist/*

#          make release

#        # There should be a better way...
#        echo "[testpypi]" > ~/.pypirc
#        echo "username = $TWINE_USERNAME" >> ~/.pypirc
#        echo "password = $TWINE_PASSWORD" >> ~/.pypirc
